.item1 { grid-area: A; }
.item2 { grid-area: B; }
.item3 { grid-area: C; }
.item4 { grid-area: D; }
.item5 { grid-area: E; }

.grid-container {
    display: grid;
    grid-template-areas:
    'A A B B'
    'C D D D'
    'E E E E';
    gap: 10px;
}

.grid-container > div {
    background-color: #3a3a3a;
    text-align: left;
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    color: white;
}
